[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
bin/
obj/

.vs/

*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

*.nuget.props
*.nuget.targets

BenchmarkDotNet.Artifacts/
TestResults/
*.trx
*.vstest

*.clog
*.log
*.diagnostic

.idea/
.vscode/
*.sln.iml

.DS_Store
Thumbs.db

!/apache/**/*.log
/dist/**/tmp*

